<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ReineTour" value="5"/>
    <add key ="UniteTaille" value="1"/>
    <add key ="LimitZoneX" value="20"/>
    <add key ="LimitZoneY" value="20"/>
    <add key ="PointDeVie" value="100"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>